@import "tailwindcss";

@theme {
  /* Define que o modo escuro será ativado pela presença da classe .dark */
  --dark-mode: class;
  
  /* Se você tiver cores personalizadas no seu tailwind.config.js, 
     você pode defini-las aqui também para garantir que funcionem */
  --color-praise-accent: #ff6600;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}