@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 15px; /* BBC padrão visual */
  }

  body {
    font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.45;
    letter-spacing: -0.01em;
    @apply text-gray-900 dark:text-gray-100;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: 500; /* Reith não usa bold */
    letter-spacing: -0.015em;
  }
}
