@import "tailwindcss";

:root {
  --color-praise-accent: #ff6600;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
}

#root {
  @apply bg-white text-black dark:bg-black dark:text-white;
}
